{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "printWidth": 120,
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "proseWrap": "never",
    "importOrder": [
      "^react$",
      "^[a-zA-Z](.*)$",
      "^@[a-zA-Z](.*)$",
      "^@/@(.*)$",
      "^@/(.*)$",
      "^[./]"
    ],
    "importOrderSortSpecifiers": true
  }