name: Deploy to sandbox environment
on: [workflow_dispatch]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      GENERATE_SOURCEMAP: false
      REACT_APP_TIMERISE_API: "${{ secrets.SANDBOX_REACT_APP_TIMERISE_API }}"
      REACT_APP_TIMERISE_API: "${{ secrets.SANDBOX_REACT_APP_TIMERISE_WS }}"
    steps:
      - uses: actions/checkout@v2
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_TIMERISE_SANDBOX }}"
          channelId: live
          projectId: timerise-sandbox
